# Stripe
STRIPE_SECRET_KEY="your stripe secret key"
STRIPE_WEBHOOK_KEY="your stripe webhook key"

# Databases
SPRING_DATASOURCE_PASSWORD="your docker mysql password (default one : my-secret-pw)"

# Gateway
SPRING_GATEWAY_SECRET="your gateway secret key"

#JWT
JWT_SIGNIN_KEY="your jwt sign in key"

# Gmail
GMAIL_APP_PASSWORD="your gmail app password"
GMAIL_USERNAME="your gmail id"